header{
  padding-bottom: 2rem;
  & p{
    margin-top: .5rem;
    font-size: var(--fs-md);
    line-height: 1.7;
    text-align: left;
  }
}
 #profile img{
  width: 7.5rem;
  height: 7.5rem;
  object-fit: cover;
 }

 #information {
  flex-direction: column;
  width: 17.5rem;
  padding-top: 2rem;
}
#information li{
  display: flex;
  align-items: center;
  right: auto;
  gap: .5rem;
  font-size: var(--fs-md);
 
}

@media (width >= 80em){
  header{
   & .info{
      max-width: 24rem;
    }
   & .container{
      display: flex;
      gap: 2rem;
      justify-content: space-between;
    }
    #profile{
      display: flex;
      gap: 2rem;
      & img{
      width: 11rem;
      height: 11rem;
    }
    & #information {
      width: 17.5rem;
    }
  }
 }
}
