main{
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding-block: 1rem;
  justify-content: center;
  align-items: center;
  
}
main img {
  width: 20.5rem;
  height:20.5rem;
  object-fit: cover;

}

@media (width >= 80em){
  main {
    gap: 1.5rem;
    padding-block: 1.5rem;
    & img{ 
    width: 17.875rem;
    height: 17.875rem;
    object-fit: cover;
    } 
  }
}